<div layout="row" flex layout-align="center center">
  <div class="md-whiteframe-1dp" flex="50" layout="row" layout-align="center center">
    <md-button ng-click="login()" class="md-raised md-primary">Login With Facebook</md-button>
  </div>
</div>
