<div layout="column" layout-fill>
    <section layout="row" flex>
      <md-sidenav class="md-sidenav-left md-whiteframe-5dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" 
        md-disable-backdrop md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">{{page_name}}</h1>
        </md-toolbar>
        <header class="nav-header" layout layout-align="center center" layout-padding>
          <img ng-src="{{picture}}" alt="no picture"/>
        </header>
        <md-content layout-padding>
          <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close
          </md-button>
          <p hide show-gt-md>
          </p>
        </md-content>
      </md-sidenav>

      <md-content flex>
        <md-toolbar class="md-whiteframe-glow-z1">
          <div class="md-toolbar-tools">
            <h2 class="md-toolbar-item">
              {{header}}
            </h2>
            <span flex></span>
            <md-button ng-click="logout()">Log Out</md-button>
          </div>
        </md-toolbar>
        <div layout="column" layout-fill>

          <div ui-view=""></div>

        </div>
        
      </md-content>
    </section>
  </div>

