<md-content layout-padding layout="column">
  <form class="md-whiteframe-1dp">
    <md-input-container class="md-block">
      <label>Add new post</label>
      <textarea ng-model="newPost" rows="5" ng-required></textarea>
    </md-input-container>
    <md-radio-group ng-model="published">
      <md-radio-button value="true">Published</md-radio-button>
      <md-radio-button value="false">Unpublished</md-radio-button>
    </md-radio-group>
    <div layout="row" layout-align="end center">
      <md-button class="md-raised md-primary" ng-click="addNewPost()">Post</md-button>
    </div>
  </form>

  <div layout-gt-sm="row" layout="column" class="md-whiteframe-1dp">
    <div flex-gt-sm="50" flex>
      <md-subheader class="md-no-sticky">Published Posts</md-subheader>
      <md-content>
        <md-list flex>
          <md-list-item class="md-3-line" ng-repeat="post in published_posts" ng-click="null">
            <img ng-src="{{picture}}" class="md-avatar" alt="pic" />
            <div class="secondary-button-padding" flex>
              <p>{{ post.message }}</p>
              <p ng-show="post.story">{{post.story}}</p>
              <small>{{(post.insights.data | filter: "post_impressions".name)[0].values[0].value}} views</small>
            </div>
            <md-button class="md-icon-button launch" ng-click="confirmDelete($event, post.id)">
              <md-tooltip md-direction="buttom">
                Delete
              </md-tooltip>
              <md-icon>delete</md-icon>
            </md-button>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </div>

    <div flex-gt-sm="50" flex>
      <md-subheader class="md-no-sticky">Unpublished Posts</md-subheader>
      <md-content>
        <md-list flex>
          <md-list-item class="md-3-line" ng-repeat="post in unpublished_posts" ng-click="null">
            <img ng-src="{{picture}}" class="md-avatar" alt="pic" />
            <div class="secondary-button-padding" flex>
              <p>{{ post.message }}</p>
              <p ng-show="post.story">{{post.story}}</p>
              <small>{{(post.insights.data | filter: "post_impressions".name)[0].values[0].value}} views</small>
            </div>
            <md-button class="md-icon-button launch" ng-click="publish(post.id)">
              <md-tooltip md-direction="buttom">
                Publish
              </md-tooltip>
              <md-icon>publish</md-icon>
            </md-button>
            <md-button class="md-icon-button launch" ng-click="confirmDelete($event, post.id)">
              <md-tooltip md-direction="buttom">
                Delete
              </md-tooltip>
              <md-icon>delete</md-icon>
            </md-button>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </div>

  </div>
</md-content>